.slds-has-animation {
  &.slds-button {
    transition: all 200ms linear;

    &:active {
      animation: button-click-effect 120ms cubic-bezier(1, 1.9, 0.95, 0.98);
    }

    &.slds-button_icon:active {
      animation: button-icon-click-effect 120ms cubic-bezier(1, 1.9, 0.94, 0.98);
    }

  }
}

// Fade transition
.fade-enter-active,
.fade-leave-active {
  transition: opacity 150ms;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

// Dropdown transition
.dropdown-enter-active,
.dropdown-leave-active {
  transition: transform .3s, opacity .15s !important;
}

.dropdown-enter,
.dropdown-leave-to {
  opacity: 0 !important;
  transform: translateY(5%) !important;
}

// Button keyframes
@keyframes button-click-effect {
  25% {
    transform: scale(0.97, 0.95);
  }

  100% {
    transform: scale(0.99, 0.98);
  }
}

// Button icon keyframes
@keyframes button-icon-click-effect {

  25% {
    transform: scale(0.94, 0.94);
  }

  100% {
    transform: scale(0.98, 0.98);
  }
}
